In [17]:
import numpy as np
import pandas as pd

### 1) une colonne motVedette (transformation/simplification de la prononciation d'origine) en utilisant le mapping du fichier Buchanan_PronChar_counts.csv

#### Import des données

In [4]:
# préciser le chemin du fichier à lire

cheminDuFichierDictionnaire = "./../data/dictionary/1757_Buchanan-J.csv"
cheminDuFichierMapping = "./../data/dictionary/Buchanan_PronChar_counts.csv" 

# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfDicoBuch = pd.read_csv(cheminDuFichierDictionnaire, delimiter=";", encoding="utf8")
dfDicoMapping = pd.read_csv(cheminDuFichierMapping, delimiter=";", encoding="utf8")

In [5]:
# afficher à l'écran un échantillon du tableau
dfDicoBuch.sample(n=5)

       nbSyll            pron origin warning remarques POS  lineId  pageId
1155        1           beech    NaN     NaN       NaN  n.    44.0      35
6123        2      hauʹ_gh_ty     F.     NaN       NaN  a.    70.0     104
11379       6  regĕrmĭnāʹtion     L.     NaN       NaN  n.    67.0     179
5778        1           gŏrge     F.     NaN       NaN  v.     9.0     100
14170       1           trīpe     F.     NaN       NaN  n.    55.0     218

In [7]:
dfDicoMapping.sample(n=5)

   char   occ graph
19    h  2383     h
69    I     1     l
46    è    73     e
40    x   406     x
42    ̆   132     o

#### Aucun caractère n'a plus d'une correspondance dans la table de mapping :

In [9]:
(dfDicoMapping['char'].value_counts()>1).sum()

0

#### Transformation de la prononciation en mot

In [62]:
# suppression des lignes avec un caractère n'ayant pas de correspondance
dfMapping = dfDicoMapping[~dfDicoMapping['graph'].isna()].copy()

In [63]:
def pronToMot(strBuch, dfMapping):
    res = ""
    
    for charBuch in strBuch:
        dfRowFinded = dfMapping[dfMapping['char']==charBuch]

        if len(dfRowFinded==1):
            res+=str(dfRowFinded.iloc[0]['graph'])
        else:
            res+=''

    return res

In [64]:
## test
pronToMot('hauʹ_gh_ty', dfMapping)

'haughty'

In [65]:
dfDicoBuchMot = dfDicoBuch.sample(n=1000).copy()

dfDicoBuchMot['motVedette'] = dfDicoBuchMot.apply(lambda x: pronToMot(x['pron'], dfMapping),1)

In [66]:
dfDicoBuchMot

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette
12465,1,sĭll,NaN,NaN,NaN,n.,4.0,195,sill
1495,1,brăds,NaN,NaN,NaN,n.,24.0,40,brads
9393,2,opīʹne,L.,NaN,NaN,v.,13.0,152,opine
5352,2,frŏʹntlet,NaN,NaN,NaN,n.,11.0,94,frontlet
12933,1,ſpȯu̇ſe,NaN,NaN,NaN,n.,39.0,201,spouose
...,...,...,...,...,...,...,...,...,...
6099,2,hăʹrrăſs,F.,NaN,NaN,v.,46.0,104,harrass
6286,4,hĭlăʹrĭty,L.,NaN,NaN,n.,17.0,107,hilarity
265,4,ăgglŏʹmĕrāte,L.,NaN,NaN,v.,15.0,23,agglomerate
8046,2,lūʹnar,L.,NaN,NaN,a.,23.0,133,lunar
13353,5,sūpĕʹrlātĭv_e_ly,NaN,NaN,NaN,a.,26.0,207,superlatively

#### 2) une colonne Sampa et une colonne Ipa à partir des mots vedettes obtenus (transformation/croisement de données) en utilisant ./../data/dataframe/BigiRichSample.csv

#### 2) i. isoler les mots de Buchanan qui n'existent pas dans Bigi. Tenter de comprendre les différentes causes et tenter d'expliquer comment résoudre les différents problèmes (bonus)

In [67]:
cheminDuDicoBigi = "./../data/dictionary/2015_Bigi-B.dict" 

# ouvrir une matric exotique
#dfDicoBigi = pd.read_csv(cheminDuDicoBigi, delimiter=" [] ", encoding="utf8")

dfDicoBigi = pd.read_csv(cheminDuDicoBigi, delimiter=" \[\] ", encoding="utf8", engine='python', names=['hwd','pronSampa'], skiprows=8 )

# afficher à l'écran un échantillon du tableau
dfDicoBigi.head(n=5)

       hwd    pronSampa
0        a            @
1     a(2)           eI
2  a'ready  @ r\ E d i:
3      a's         eI z
4       a.           eI